@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden !important;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 27px;
  letter-spacing: 0px;
  color: #464646;
}

.group:hover .drop-down {
  display: block;
}

.spackage .h4 {

  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  color: rgb(74, 74, 74);


}

.spackage .subHead {
  font-size: 16px;
  color: rgb(144, 144, 144);
  margin: 5px 0px 20px;


}

.card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}

.style1 {
  background: #fce4ec;
}

.style2 {
  background: #e3f2fd;
}

.card-detail img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}